In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
ser1 = Series([1,2,3],index=['A','B','C'])
ser1

A    1
B    2
C    3
dtype: int64

In [6]:
ser2 = Series([1,2,3,4,5],index=['A','B','C','D','E'])
ser2

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [8]:
#Adicao de Series
"""
Onde havia valores, pandas somou. 

A,B,C tinham valores em ambas Series, logo foram somados. 
Em contra partida, D e E s√≥ existiam em ser2 e ficaram como NaN na soma! 
"""

ser1 + ser2

A    2.0
B    4.0
C    6.0
D    NaN
E    NaN
dtype: float64

In [10]:

df = DataFrame(np.arange(25).reshape(5,5),columns=list("ABCDE"),
               index=['A','B','C','D','E'])
df

    A   B   C   D   E
A   0   1   2   3   4
B   5   6   7   8   9
C  10  11  12  13  14
D  15  16  17  18  19
E  20  21  22  23  24

In [11]:
df2 = DataFrame(np.arange(4).reshape(2,2),columns=list("AB"),
               index=['A','B'])
df2

   A  B
A  0  1
B  2  3

In [13]:
"""
Soma reproduziu os mesmos efeitos da soma com Series.
"""
df2 + df

     A    B   C   D   E
A  0.0  2.0 NaN NaN NaN
B  7.0  9.0 NaN NaN NaN
C  NaN  NaN NaN NaN NaN
D  NaN  NaN NaN NaN NaN
E  NaN  NaN NaN NaN NaN

In [17]:
"""
O DataFrame.add sozinho produziu o mesmo efeito que a Soma comum. 

Entretanto, usando o 'fill_value=0' ele realizou a soma como esperariamos.
"""

df.add(df2,fill_value=0)

      A     B     C     D     E
A   0.0   2.0   2.0   3.0   4.0
B   7.0   9.0   7.0   8.0   9.0
C  10.0  11.0  12.0  13.0  14.0
D  15.0  16.0  17.0  18.0  19.0
E  20.0  21.0  22.0  23.0  24.0

In [21]:
ser3 = df['B']
ser3

A     1
B     6
C    11
D    16
E    21
Name: B, dtype: int64

In [23]:
df - ser3

    A   B   C   D   E
A  -1  -5  -9 -13 -17
B   4   0  -4  -8 -12
C   9   5   1  -3  -7
D  14  10   6   2  -2
E  19  15  11   7   3