In [2]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [4]:
"""
Multiplos níveis de indices
"""

ser = pd.Series(randn(6),index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])
ser

1  a    0.053201
   b    0.072856
   c   -0.314673
2  a   -1.164409
   b   -1.286879
   c    0.087475
dtype: float64

In [6]:
ser.index

MultiIndex(levels=[[1, 2], ['a', 'b', 'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [11]:
"""
Percorrendo os index

ser[1] <-- Da match no numero que pus como indice, nao na posicao. 
"""

ser[1]['a']

0.053201392778678983

In [13]:
"""
Saber tudo o que há com o indice 'a'
"""

ser[:,'a']

1    0.053201
2   -1.164409
dtype: float64

In [15]:
"""
Usando o unstack para criar um DataFrame a partir de uma Serie com 
multiplos indices.


Os níveis mais para dentro são as colunas (a,b,c), enquanto os para fora
(1,2) tornaram-se as linhas.

"""

df = ser.unstack()
df

          a         b         c
1  0.053201  0.072856 -0.314673
2 -1.164409 -1.286879  0.087475

In [20]:
"""
Podemos construir um DataFrame com multiplos níveis de Indices também!
"""

df2 = pd.DataFrame(np.arange(16).reshape((4,4)),
                index=[['a','b','a','b'],[1,2,1,2]],
                columns=[['SP','DF','SP','DF'],['frio','quente','frio','quente']])
df2

      SP     DF   SP     DF
    frio quente frio quente
a 1    0      1    2      3
b 2    4      5    6      7
a 1    8      9   10     11
b 2   12     13   14     15

In [22]:
"""
Podemos dar nomes aos níveis dos indices
"""

df2.index.names = ['INDEX_1','INDEX_2']
df2.columns.names = ['Cidades','Temperatura']
df2

Cidades           SP     DF   SP     DF
Temperatura     frio quente frio quente
INDEX_1 INDEX_2
a       1          0      1    2      3
b       2          4      5    6      7
a       1          8      9   10     11
b       2         12     13   14     15

In [36]:
"""
Podemos realizar a ordenação dos indices em niveis
com o sert_index(x)/sort_values(x), onde x é o nível do indice desejado.
"""

df2.sort_index(1)

Cidades             DF          SP
Temperatura     quente quente frio frio
INDEX_1 INDEX_2
a       1            1      3    0    2
b       2            5      7    4    6
a       1            9     11    8   10
b       2           13     15   12   14

In [37]:
"""
Metodos de computação. Sum,mean,..., mas somente em um level
"""

df2.sum(level='Temperatura',axis=1)

Temperatura      frio  quente
INDEX_1 INDEX_2
a       1           2       4
b       2          10      12
a       1          18      20
b       2          26      28