In [1]:
import numpy as np
import pandas as pd

In [6]:
arr = np.arange(6).reshape((2,3))
arr

array([[0, 1, 2],
       [3, 4, 5]])

In [8]:
df = pd.DataFrame(arr,index=list("AB"),columns=['One','Two','Three'])
df

   One  Two  Three
A    0    1      2
B    3    4      5

In [12]:
"""
Realiza a soma de cada coluna.
"""
df.sum()

One      3
Two      5
Three    7
dtype: int64

In [13]:
"""
Acha o menor valor de cada coluna
"""
df.min()

One      0
Two      1
Three    2
dtype: int64

In [15]:
"""
Retorna em qual indice está o valor minimo de cada coluna. 
"""
df.idxmin()

One      A
Two      A
Three    A
dtype: object

In [17]:
"""
Soma cumulativa.
"""
df.cumsum()

   One  Two  Three
A    0    1      2
B    3    5      7

In [18]:
"""
Retorna um sumário de estatisticas do DF.
"""
df.describe()

           One      Two    Three
count  2.00000  2.00000  2.00000
mean   1.50000  2.50000  3.50000
std    2.12132  2.12132  2.12132
min    0.00000  1.00000  2.00000
25%    0.75000  1.75000  2.75000
50%    1.50000  2.50000  3.50000
75%    2.25000  3.25000  4.25000
max    3.00000  4.00000  5.00000