In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame(
    {'key_1':['A','A','B','B','B'],
    'key_2':[2,2,2,3,3]
    }
)

df

  key_1  key_2
0     A      2
1     A      2
2     B      2
3     B      3
4     B      3

In [6]:
"""
Como achar dados duplicados. 

DataFrame.duplicated() retorna uma lista de booleanos
das linhas que est√£o duplicadas. 
"""

df.duplicated()

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [8]:
"""
Agora para tirar as duplicatas do DataFrame, usamos
pd.DataFrame.drop_duplicates()
"""

df.drop_duplicates()

  key_1  key_2
0     A      2
2     B      2
3     B      3

In [12]:
"""
Pode-se usar o drop_duplicates() nas colunas:
"""

df.drop_duplicates(['key_2'])

  key_1  key_2
0     A      2
3     B      3