In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.DataFrame(np.arange(8).reshape(2,4),
                  index=pd.Index(['SP','DF'],name='city'),
                   columns=pd.Index(['A','B','C','D'],name='letter')
                  )
df1

letter  A  B  C  D
city
SP      0  1  2  3
DF      4  5  6  7

In [8]:
"""
Metodo pd.stack resulta em mudança de colunas para as linhas.

A,B,C,D eram colunas e passaram a ser sub-indices das Cidades

pode ser feito apenas em DataFrames. 



https://pandas.pydata.org/pandas-docs/version/0.21/generated/pandas.DataFrame.stack.html
"""

df_st = df1.stack()
df_st

city  letter
SP    A         0
      B         1
      C         2
      D         3
DF    A         4
      B         5
      C         6
      D         7
dtype: int64

In [12]:
"""
Há também o unstack. 

Pode receber argumentos: Indices ou colunas.
"""

df_st.unstack()

letter  A  B  C  D
city
SP      0  1  2  3
DF      4  5  6  7

In [14]:
df_st.unstack('city')

city    SP  DF
letter
A        0   4
B        1   5
C        2   6
D        3   7

In [17]:
"""
Criando DataFrames de 2 series + unstack
"""

ser1 = pd.Series([0,1,2],index=['Q','X','Y'])
ser2= pd.Series([3,4,5],index=['X','Y','Z'])


"""
Esse concat nao resultou em um data frame, mas sim em uma Serie com 
mais de um nível de indice
"""
df = pd.concat([ser1,ser2],keys=['Alpha','Beta'])
df

Alpha  Q    0
       X    1
       Y    2
Beta   X    3
       Y    4
       Z    5
dtype: int64

In [19]:
"""
DataFrame real
"""
df = df.unstack()
df

         Q    X    Y    Z
Alpha  0.0  1.0  2.0  NaN
Beta   NaN  3.0  4.0  5.0