In [2]:
import pandas as pd

In [4]:
df = pd.DataFrame(
    {
        'Sample':[1,2,3,4,5],
        'Animal':['Dog','Dog','Cat','Cat','Cat'],
        'Intelligence':['Smart','Smart','Dumb','Dumb','Dumb']
    }
)

df

  Animal Intelligence  Sample
0    Dog        Smart       1
1    Dog        Smart       2
2    Cat         Dumb       3
3    Cat         Dumb       4
4    Cat         Dumb       5

In [7]:
"""
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.crosstab.html
Pandas crosstab cria uma tabela com a frequencia de ocorrencias.


Existem 3 gatos 'dumb', 0 'smart'
Existem 2 'dog' 'smart', 0 'dumb'. 

Crosstab conta as ocorrencias nas colunas e nas linhas!
(Existe a coluna 'All' assim como uma linha 'All')


"""
pd.crosstab(df.Animal,df.Intelligence,margins=True)

Intelligence  Dumb  Smart  All
Animal
Cat              3      0    3
Dog              0      2    2
All              3      2    5