In [1]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv('dados/populacao_estados.csv').drop(['Região'],axis=1)

df

                   Estado  UF  População Censo 2010  População Prevista 2013
0        Espírito Santo    ES               3514952                  3839366
1          Minas Gerais    MG              19597330                 20593356
2        Rio de Janeiro    RJ              15989929                 16369179
3             São Paulo    SP              41262199                 43663669
4                Paraná    PR              10444526                 10997465
5     Rio Grande de Sul    RS              10693929                 11164043
6        Santa Catarina    SC               6248436                  6634254
7      Distrito Federal    DF               2570160                  2789761
8               Goiânia    GO               6003788                  6434048
9           Mato Grosso    MT               3035122                  3182113
10   Mato Grosso do Sul    MS               2449024                  2587269
11              Alagoas    AL               3120494                  3300935
12                Bahia    BA              14016906                 15044137
13                Ceará    CE               8452381                  8778576
14             Maranhão    MA               6574789                  6794301
15              Paraíba    PB               3766528                  3914421
16           Pernambuco    PE               8796448                  9208550
17                Piauí    PI               3118360                  3184166
18  Rio Grande do Norte    RN               3168027                  3373959
19              Sergipe    SE               2068017                  2195662
20                 Acre    AC                733559                   776463
21                Amapá    AP                669526                   734996
22             Amazonas    AM               3483985                  3807921
23                 Pará    PA               7581051                  7969654
24             Rondônia    RO               1562409                  1728214
25              Roraima    RR                450479                   488072
26            Tocantins    TO               1383445                  1478164

In [11]:
"""
Metodo Map. 

Mapea valores com determinada condição
"""

regioes_brasil = {
    'AP':'Norte',
    'AM':'Norte',
    'PA':'Norte',
    'TO':'Norte',
    'RO':'Norte',
    'RR':'Norte',
    'AC':'Norte',
    'AL':'Nordeste',
    'BA':'Nordeste',
    'CE':'Nordeste',
    'MA':'Nordeste',
    'PB':'Nordeste',
    'PE':'Nordeste',
    'PI':'Nordeste',
    'RN':'Nordeste',
    'SE':'Nordeste'
    #Assim por diante
}


"""
Relacionar um dict que tem listas como values é mais dificil. 
"""
df['Regiões'] = df.UF.map(regioes_brasil)
df

,Estado,UF,População Censo 2010,População Prevista 2013,Regiões
0,Espírito Santo,ES,3514952,3839366,NaN
1,Minas Gerais,MG,19597330,20593356,NaN
2,Rio de Janeiro,RJ,15989929,16369179,NaN
3,São Paulo,SP,41262199,43663669,NaN
4,Paraná,PR,10444526,10997465,NaN
5,Rio Grande de Sul,RS,10693929,11164043,NaN
6,Santa Catarina,SC,6248436,6634254,NaN
7,Distrito Federal,DF,2570160,2789761,NaN
8,Goiânia,GO,6003788,6434048,NaN
9,Mato Grosso,MT,3035122,3182113,NaN
10,Mato Grosso do Sul,MS,2449024,2587269,NaN
11,Alagoas,AL,3120494,3300935,Nordeste
12,Bahia,BA,14016906,15044137,Nordeste
13,Ceará,CE,8452381,8778576,Nordeste
14,Maranhão,MA,6574789,6794301,Nordeste
15,Paraíba,PB,3766528,3914421,Nordeste
16,Pernambuco,PE,8796448,9208550,Nordeste
17,Piauí,PI,3118360,3184166,Nordeste
18,Rio Grande do Norte,RN,3168027,3373959,Nordeste
19,Sergipe,SE,2068017,2195662,Nordeste
20,Acre,AC,733559,776463,Norte
21,Amapá,AP,669526,734996,Norte
22,Amazonas,AM,3483985,3807921,Norte
23,Pará,PA,7581051,7969654,Norte
24,Rondônia,RO,1562409,1728214,Norte
25,Roraima,RR,450479,488072,Norte
26,Tocantins,TO,1383445,1478164,Norte