In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame(np.arange(12).reshape(3,4),
                 index=['DF','SP','PE'],
                 columns=['A','B','C','D'])
df

    A  B   C   D
DF  0  1   2   3
SP  4  5   6   7
PE  8  9  10  11

In [6]:
df.index.map(str.lower)

Index(['df', 'sp', 'pe'], dtype='object')

In [8]:
df.index = df.index.map(str.lower)
df

    A  B   C   D
df  0  1   2   3
sp  4  5   6   7
pe  8  9  10  11

In [11]:
df.rename(index=str.title,columns=str.title)

    A  B   C   D
Df  0  1   2   3
Sp  4  5   6   7
Pe  8  9  10  11

In [16]:
"""
Rename aceita dicionarios como argumentos tambem.

{'key_atual':'key_desejada'}
"""
df.rename(columns={'A':'Alpha'},index={'df':'Distrito Federal'})

                  Alpha  B   C   D
Distrito Federal      0  1   2   3
sp                    4  5   6   7
pe                    8  9  10  11

In [18]:
"""
As mudan√ßas acima nao foram feitas permanentemente no 'df',
para tal deve-se adicionar o argumento 'inplace'
"""

df.rename(columns={'A':'Alpha'},index={'df':'Distrito Federal'},inplace=True)
df

                  Alpha  B   C   D
Distrito Federal      0  1   2   3
sp                    4  5   6   7
pe                    8  9  10  11