In [1]:
import numpy as np
import pandas as pd

In [3]:
ser1 = pd.Series(np.arange(3),index=["A",'B','C'])
ser1

A    0
B    1
C    2
dtype: int64

In [5]:
"""
Como retirar um index?

Chame pd.Series.drop("INDEX")
"""

ser1.drop("A")

B    1
C    2
dtype: int64

In [8]:
"""
Como fazer num DataFrame?
"""

df = pd.DataFrame(np.arange(9).reshape((3,3)),index=["A","B","C"],
                  columns=["pop",'size','year'])
df.drop("A")

   pop  size  year
B    3     4     5
C    6     7     8

In [12]:
"""
Como dropar uma Coluna?

A funcao pd.DataFrame.drop deleta um indice, por padrao. 
Para dropar uma coluna, temos q especificar o eixo. No caso, axis=1
"""

df.drop("pop",axis=1)

   size  year
A     1     2
B     4     5
C     7     8