In [2]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [4]:
serie1 = pd.Series([1,2,3,4],index=['A','B','C','D'])
serie1

A    1
B    2
C    3
D    4
dtype: int64

In [12]:
"""
Chamar o reindex muda os indices das series. 
Ao adicionar as letras E e F, as quais nao tinha na serie1, pandas atribui
NaN a esses novos indices.
"""
ser2 = serie1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [15]:
"""
fill_value dentro da função reindex faz com que os indices novos
fiquem como o valor atribuido, no caso 0. 
"""
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [18]:
ser3 = pd.Series(['USA',"Mexico",'Canada'],index=[0,5,10])

In [25]:
"""
Chamar reindex com o argumento 'method' faz com que o preenchimento 
dos novos indices seja feito de diversas maneiras

ffill (forward fill) atribui o primeiro valor aos novos indices até 
encontrar um novo valor. 

no caso abaixo. 
0 até 4 - USA
5 até 9 - Mexico
10 até 15 - Canada
"""

ser3.reindex(range(15),method="ffill")

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [29]:
dframe = pd.DataFrame(randn(25).reshape((5,5)),index=['A',"B",'D','E','F'],
                          columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A -0.650214  1.183145 -0.840708 -0.380701 -0.499104
B  0.992732 -0.211445 -0.175263 -0.901438 -0.030333
D -1.410934 -0.888939  0.308591 -1.031173 -0.656841
E -0.706026  0.602574  1.210523 -0.514325  0.007809
F  0.515330  0.233933  0.717996 -0.100623  0.627907

In [32]:
"""
dframe nao tem o indice 'C', vamos colocá-lo
"""

d2 = dframe.reindex(['A',"B",'C','D','E','F'])
d2

       col1      col2      col3      col4      col5
A -0.650214  1.183145 -0.840708 -0.380701 -0.499104
B  0.992732 -0.211445 -0.175263 -0.901438 -0.030333
C       NaN       NaN       NaN       NaN       NaN
D -1.410934 -0.888939  0.308591 -1.031173 -0.656841
E -0.706026  0.602574  1.210523 -0.514325  0.007809
F  0.515330  0.233933  0.717996 -0.100623  0.627907

In [34]:
"""
Podemos também adicionar novas colunas. 
Adicionaremos a 'col6'
"""

new_columns = ['col1','col2','col3','col4','col5','col6']
d2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -0.650214  1.183145 -0.840708 -0.380701 -0.499104   NaN
B  0.992732 -0.211445 -0.175263 -0.901438 -0.030333   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.410934 -0.888939  0.308591 -1.031173 -0.656841   NaN
E -0.706026  0.602574  1.210523 -0.514325  0.007809   NaN
F  0.515330  0.233933  0.717996 -0.100623  0.627907   NaN